<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <% include ../views/templates/head %>
    
  </head>
  <body>
  
  <% include ../views/templates/header %>


  <div class="container" id="results">

  <% for (row in rows) { %>

    <div class="row row-result" id="<%= 'resultDiv' + row %>">
      <div class="col-lg-12"><h3><a href='<%= "/product/" + rows[row].sid %>' id=result-header><%= rows[row].label %></a></h3>
        <% if (rows[row].selling_at_list) {%>
        <p><b>$<%= rows[row].price%></b></p>
        <% } else  { %>
          <h6 style="Color:white">Valued by members</h6>
          <p style="Color:red"><b><strike>$<%= rows[row].price%></strike></b></p>
          <p style="Color:green"><b>$<%= rows[row].valued_at%></b></p>
        <%}%>

      </div>
    </div>
  <%}%>
  </div>

  </body>
</html>